services:
  web:
    env_file:
      - .env
    build: .
    privileged: true
    restart: always
    networks:
      - project_basics
    volumes:
      - "${PROJECT_ROOT}:/app"
      - "/dev/bus/usb:/dev/bus/usb"
    ports:
      - "80:80"
    working_dir: /app
    command: npm run serve
    extra_hosts:
      - "localhost:host-gateway"
    devices:
      - "/dev/video0:/dev/video0"

networks:
  project_basics:
    name: project-basics-network
    external: true

