services:
  web:
    env_file:
      - .env
    build: .
    volumes:
      - "${PROJECT_ROOT}:/app"
    ports:
      - "3000:3000"
    restart: always
    working_dir: /app
    command: npm run serve
    extra_hosts:
      # - "/dev/bus/usb:/dev/bus/usb"
      - "localhost:host-gateway"
