<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>サインアップ | HIU食堂 Web食券販売</title>
  <script src="/dist/bundle.js"></script>
</head>
<body class="bg-gray-100 flex flex-col justify-between h-dvh">
  <header class="bg-white border-b-blue-900 border-b-4">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
      <div class="flex flex-row space-x-2">
        <img src="/assets/logo.png" alt="logo" class="h-auto w-12">
        <div class="text-2xl font-bold">
          <a href="#" class="text-xs text-gray-800">HIU Web食券販売</a>
        </div>
      </div>
    </div>
  </header>

  <main class="h-lvh flex flex-col justify-start">
    <section class="bg-white rounded-xl h-32 m-3 p-3 shadow-md">
      <h2 class="text-xl font-bold">お知らせ</h2>
    </section>
  </main>

  <footer class="bg-slate-800 mt-12 shadow-inner">
    <div class="container mx-auto py-6 px-6">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <div class="text-lg font-bold text-gray-600">
          <a href="#" class="hover:text-gray-500">HIU学食 Web食券販売</a>
        </div>
        <nav class="mt-4 md:mt-0 flex space-x-4 text-gray-600">
          <a href="#" class="hover:text-gray-500">プライバシー</a>
          <a href="#" class="hover:text-gray-500">利用規約</a>
          <a href="#" class="hover:text-gray-500">お問い合わせ</a>
        </nav>
      </div>
      <div class="text-center text-sm text-gray-500 mt-6">
        &copy; 2024 HIU Bombers. All Rights Reserved.
      </div>
    </div>
  </footer>
</body>
</html>
