<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン | HIU食堂 Web食券販売</title>
</head>
<body class="bg-gray-100 flex flex-col justify-between h-dvh font-sans">
  <header id="header"></header>
  <main class="h-lvh flex flex-col justify-start">
    <section class="bg-white rounded-xl h-fit m-12 p-3 shadow-md">
      <h2 class="text-xl font-extrabold mx-auto mt-3 w-fit text-gray-700">ログイン</h2>
      
      <form class="w-fit mx-auto mt-4 flex flex-col justify-between h-60">
        <sectoin class="flex flex-col justify-around space-y-2">
          <div>
            <p class="text-sm text-gray-600">ログイン</p>
            <input type="email" class="bg-gray-100 shadow-md rounded-md">
          </div>
          <div>
            <p class="text-sm text-gray-600">パスワード</p>
            <input type="password" class="bg-gray-100 shadow-md rounded-md">  
          </div>
        </sectoin>
        <section class="mx-auto mt-8">
          <button type="button" onclick="onSubmit()" class="bg-sky-700 text-white font-bold py-2 px-8 rounded-md drop-shadow-md hover:bg-sky-800">
            ログイン
          </button>
        </section>
        <section>
          <a href="/signup" class="w-fit text-xs text-blue-700 underline hover:text-blue-500">アカウントをお持ちでないかたはこちら</a>
        </section>
      </form>
    </section>
  </main>
  <footer id="footer"></footer>
  
  <script src="/dist/bundle.js"></script>
  <script>
    function onSubmit() {
      window.location = '/';
    }
  </script>
</body>
</html>
