services:
  workspace:
    build: .
    network_mode: host
    command: sleep infinity
    privileged: true
    volumes:
      - ../:/project-web-frontend/
      - /dev/bus/usb:/dev/bus/usb
      - /var/run/docker.sock:/var/run/docker.sock
