services:
  workspace:
    build: .
    network_mode: host
    command: sleep infinity
    privileged: true
    volumes:
      - ../:/project-web-frontend/
      - "/dev:/dev"
      - /var/run/docker.sock:/var/run/docker.sock
    devices:
      - "/dev:/dev"

